# {{ ansible_managed }}
# ###############################
#
daemon=1800 # check every 30 minutes
syslog=yes
pid=/var/run/ddclient/ddclient.pid
ssl=yes

use=web, web=checkip.amazonaws.com

#
# CloudFlare (www.cloudflare.com)
#
protocol=cloudflare, \
zone={{ containers_secrets.ddclient_cloudflare.zone }}, \
ttl=1, \
login={{ containers_secrets.ddclient_cloudflare.email }}, \
password={{ containers_secrets.ddclient_cloudflare.api_token }} \
{% for target in containers_secrets.ddclient_cloudflare.targets %}
{{ target }}{% if not loop.last %},{% endif %}
{% endfor %}
