network:
  version: 2
  renderer: networkd
  ethernets:
    {{ dhcp_config_interface }}:
      dhcp4: no
      addresses: [{{ dhcp_config_static_ip }}/24]
      gateway4: {{ dhcp_config_router_ip }}
      nameservers:
        addresses: [{{ dhcp_config_dns_ip }}]