#######################
# {{ ansible_managed }}
#######################

[global]
	workgroup = WORKGROUP
	security = user
	server string = Samba Server %v
	netbios name = EPSILON
	hosts allow = 127. 192.168.0.

# --------------------------- Logging Options -----------------------------

	# logs split per machine
	log file = /var/log/samba/%m.log
	# max 50KB per log file, then rotate
	max log size = 50

# ----------------------- Standalone Server Options ------------------------
#
# Security can be set to user, share(deprecated) or server(deprecated)
#
# Backend to store user information in. New installations should
# use either tdbsam or ldapsam. smbpasswd is available for backwards
# compatibility. tdbsam requires no further configuration.

	passdb backend = tdbsam

#----------------------------- Name Resolution -------------------------------
# Windows Internet Name Serving Support Section:
# Note: Samba can be either a WINS Server, or a WINS Client, but NOT both
#
# - WINS Support: Tells the NMBD component of Samba to enable it's WINS Server
#
# - WINS Server: Tells the NMBD components of Samba to be a WINS Client
#
# - WINS Proxy: Tells Samba to answer name resolution queries on
#   behalf of a non WINS capable client, for this to work there must be
#   at least one	WINS Server on the network. The default is NO.
#
# DNS Proxy - tells Samba whether or not to try to resolve NetBIOS names
# via DNS nslookups.

	wins support = yes
;	wins server = w.x.y.z
;	wins proxy = yes

	dns proxy = yes

# --------------------------- Printing Options -----------------------------
#
# Load Printers let you load automatically the list of printers rather
# than setting them up individually
#
# Cups Options let you pass the cups libs custom options, setting it to raw
# for example will let you use drivers on your Windows clients
#
# Printcap Name let you specify an alternative printcap file
#
# You can choose a non default printing system using the Printing option

;	load printers = yes
	cups options = raw

;	printcap name = /etc/printcap
	#obtain list of printers automatically on SystemV
;	printcap name = lpstat
;	printing = cups

# --------------------------- Filesystem Options ---------------------------
#
# The following options can be uncommented if the filesystem supports
# Extended Attributes and they are enabled (usually by the mount option
# user_xattr). Thess options will let the admin store the DOS attributes
# in an EA and make samba not mess with the permission bits.
#
# Note: these options can also be set just per share, setting them in global
# makes them the default for all shares

;	map archive = no
;	map hidden = no
;	map read only = no
;	map system = no
;	username map = /etc/samba/smbusers
	encrypt passwords = yes
	guest ok = yes
;	guest account = nobody
;	store dos attributes = yes

#============================ Share Definitions ==============================

[private]
	comment = Private storage
	path = /mnt/storage/samba/%u
	writeable = yes
	browseable = no
	valid users = %U
	public = no
	create mask = 0770
	directory mask = 0770

[storage]
	comment = Main storage mount
	path = /mnt/storage
	writeable = yes
	browseable = yes
	valid users = {{ master_user.username }}
	public = no
	create mask = 0770
	directory mask = 0770